---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
>

<p>Lorem Jeffsum. Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! I was part of something special. Must go faster. Do you have any idea how long it takes those cups to decompose.
</p>
<p>
Just my luck, no ice. Hey, you know how I'm, like, always trying to save the planet? Here's my chance. Remind me to thank John for a lovely weekend. Checkmate... What do they got in there? King Kong? Checkmate... This thing comes fully loaded. AM/FM radio, reclining bucket seats, and... power windows.
</p>
<p>
Must go faster. I gave it a cold? I gave it a virus. A computer virus. Life finds a way. Jaguar shark! So tell me - does it really exist? What do they got in there? King Kong? So you two dig up, dig up dinosaurs? Jaguar shark! So tell me - does it really exist?
</p>

</Layout>
