---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Contact me"
	description="However / whenever"
	pubDate={new Date('August 08 2024')}
>
	<p>
		<b>Email:</b> paul@vudmaska.com
	</p>

</Layout>
