---
 const {ai} = Astro.props

---
<div style="text-align:center" id="Answer">
  <h1>Is this AI?</h1>
  <div class="button button-yes" id="yesAi">Yes, is AI. </div>
  <div class="button button-no" id="noAi">Nope</div>
</div>
<div style="display:none" id="hiddenAnswer">{ai}</div>
<script>
    function showAnswer(answer: string) {
        var answerElement = document.getElementById('Answer');
         if (answerElement) {
             answerElement.innerHTML = '<div class="button"><h2 class="big">' + answer + '</h2></div>';
         }
    }
    var hiddenAnswerElement = document.getElementById('hiddenAnswer');
    var isAi = hiddenAnswerElement ? hiddenAnswerElement.innerText === 'true' : false;
    // click yesAi
    var yesAiElement = document.getElementById('yesAi');
    if (yesAiElement) {
        yesAiElement.addEventListener('click', function() {
      if(isAi) {
        showAnswer('Correct!')
       } else {
        showAnswer('Wrong!')
       }  
    });
    }
    var noAiElement = document.getElementById('noAi');
    if (noAiElement) {
        noAiElement.addEventListener('click', function() {
       if(!isAi) {
        showAnswer('Correct!')
       } else {
        showAnswer('Wrong!')
       }    
    });
    }
</script>

<style>
    .big {
        font-size: 3em;
        
    }   
    .button {
        display:inline-block;
        padding: 10px 20px;
        margin: 10px;
        border: 1px solid #000;
        cursor: pointer;    

    }
    .button-yes {
        background:aquamarine
    }
    .button-no {
        background:rgb(255, 176, 127)
    }
</style>
