---
 const {ai, next} = Astro.props
---

<div style="text-align:center" id="Answer">
    <img src="/src/images/sys/top.png" id="yesAi" alt="top" /><br/> 
    <img src="/src/images/sys/bottom.png" id="noAi" alt="top" />
</div>
<div style="display:none" id="hiddenAnswer">{ai}</div>
<div style="display:none" id="hiddenNext">{next}</div>
<script>
    function showAnswer(answer: string) {
        var answerElement = document.getElementById('Answer');
         if (answerElement) {
             answerElement.innerHTML = "<h1>" + answer + "</h1>";
             answerElement.innerHTML += `<button id=btnNext>Next</button>`;
         }
         var hiddenNext = document.getElementById('hiddenNext');
         
         //alert(hiddenNext?.innerText);

         var nextBtn = document.getElementById('btnNext') 
             if(nextBtn) 
                nextBtn.addEventListener('click', function() {   
                    if(hiddenNext) document.location.href = hiddenNext.innerText;
                })
    }

    var hiddenAnswerElement = document.getElementById('hiddenAnswer');
    var isAi = hiddenAnswerElement ? hiddenAnswerElement.innerText === 'true' : false;
    // click yesAi
    var yesAiElement = document.getElementById('yesAi');
    if (yesAiElement) {
        yesAiElement.addEventListener('click', function() {
      if(isAi) {
        showAnswer('Correct!')
       } else {
        showAnswer('Wrong!')
       }  
    });
    }
    var noAiElement = document.getElementById('noAi');
    if (noAiElement) {
        noAiElement.addEventListener('click', function() {
       if(!isAi) {
        showAnswer('Correct!')
       } else {
        showAnswer('Wrong!')
       }    
    });
    }
</script>

<style>
    .big {
        font-size: 3em;
        
    }   
    .button {
        display:inline-block;
        padding: 10px 20px;
        margin: 10px;
        border: 1px solid #000;
        cursor: pointer;    

    }
    .button-yes {
        background:aquamarine
    }
    .button-no {
        background:rgb(255, 176, 127)
    }
</style>
